/* Base css */
body{
    background-color: 
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
img{
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
margin: 0 0 15px;
font-weight: 700;
}
body{
   font-family: 'Lato', sans-serif;
   font-size: 15px;
}
html, body{
    height: 100%;
}
a:hover{
    text-decoration: none;
}
.header-top, header-top a {
    background: #0b0b0b;
    color: #fff;
}

.header-top i.fa {
    color: #fc721e;
    padding-right: 7px;
}

.social-links a {
    display: inline-block;
    height: 33px;
    width: 33px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.social-links i.fa {
    padding-right: 0;
    color: #fff;
}

.social-links {
    display: inline-block;
    padding-left: 22px;
}

.social-links a:hover {
    background-color: #fc721e;
    border-color: #fc721e;
}

.header-top i.fa.fa-phone {
    padding-left: 30px;
}

.header-top {
    padding: 13px 0;
}

.site-logo {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid;
    padding: 15px 20px;
    margin-bottom: 0;
}

.main-menu ul {
    margin: 0;
    padding: 5px 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: block;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    padding: 12px  17px;
    border: 1px solid transparent;
}
.main-menu li:hover > a{
	border: 1px solid #fc721e;

}




.header-area {
    padding: 18px 0;
}